.body{
    background-color: black;
    color: white;
}

h1{
    color: rgb(239, 39, 166);
}

div{
    color: white;
}

.post{
    background-color: rgb(165, 104, 23);
}

.username{
    font-style: oblique;
}